body {
    margin: 0;
}

.top-banner {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    height: 700px;
    background-size: cover;
    text-align: center;
    color: bisque;
    padding-top: 8%;
}

.top-size {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 79px;
    text-align: center;
    color: #FFFFFF;

}

p {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #707070;

}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #121212;

}

.link {
    text-decoration: none;
    border: 1px solid ghostwhite;
    background-color: tomato;
    color: ghostwhite;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;

}

.link-mar {
    margin-top: 70px;
}

.p-size {
    font-size: 20px;
    color: white;
}

.h-size {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #121212;
}

#today {
    margin-top: 150px;
    text-align: center;
}

.p-size1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #707070;
}

#amount {
    margin: 100px;
    text-align: center;
}

.money {
    font-size: 40px;
    background-color: #FAFAFA;
    border-radius: 10px;
    padding: 50px;
    margin-left: 40px;
}

#tomatomoney {
    font-size: 40px;
    border: 2px solid tomato;
    background-color: #FFEEEE;
    color: #FF5959;
    border-radius: 10px;
    padding: 50px;
    margin-left: 40px;
}

#other {
    box-sizing: border-box;
    height: 50px;
    width: 50%;
    text-align: center;
    margin-left: 25%;
}

#taka {
    border: none;
    text-align: center;
    color: #D9DBE1;
    margin-bottom: 5px;
}

hr {
    border: 1px solid #DADADA;
    background-color: #DADADA;
}

#plan {
    text-align: center;
    margin-top: 15%;
}

#arrange {
    width: 80%;
    display: flex;
    margin: 5% 0 10% 10%;
}

.information {
    margin-left: 20px;
}

#food {
    background-color: rgba(79, 157, 166, 0.1);
    padding: 60px;
    height: 250px;
    border-radius: 5px;
}

#shelter {
    padding: 60px;
    height: 250px;
    background-color: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}

#education {
    padding: 60px;
    height: 250px;
    background-color: rgb(251, 238, 226);
    border-radius: 5px;
}

.flexible {
    display: flex;
    width: 60%;
    margin-left: 9%;
}

.img-size img {
    width: 170%;
    margin-left: 50px;
}

.h-size1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #121212;

}

.p-size2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #707070;

}

.contribute {
    margin-bottom: 100px;
}

.flexible1 {
    display: flex;
    width: 80%;
    margin-left: 7%;
}

.img-size1 {
    margin-right: 20%;
}


.img-size1 img {
    width: 140%;
}

#news{
    text-align: center;
    margin-top: 150px;
 } 

.flexible2{
    width: 60%;
    display: flex;
    margin-left: 13%;
    margin-bottom: 100px;
}
.disaster{
    padding: 40px;
}

.link2{
    text-decoration: none;
    border: 1px solid black;
    padding: 7px 20px;
    color: #121212;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

#form {
    text-align: center;
}

form {
    background-color: #FFF4D6;
    height: 150px;
    width: 70%;
    text-align: center;
    padding-top: 6%;
    margin: 5% 0 10% 15%;
}

#email {
    background-color: #D9D9D9;
    width: 275px;
    height: 48px;
    border: none;
    padding-left: 10px;
    margin-right: -4px;
    border-radius: 5px 0px 0px 5px;
    color: #AA9F9F;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

#subscribe {
    background-color: #FF5959;
    border: none;
    width: 200px;
    height: 49px;
    border-radius: 0 5px 5px 0;
    color: #FAFAFA;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

footer {
    text-align: center;
    padding-top: 5%;
    background-color: black;
    height: 200px;
}

#humble {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #FF5959;
}

#do {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #D9DBE1;
}